<%= form_for(@grammar_question) do |f| %>
  <% if @grammar_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grammar_question.errors.count, "error") %> prohibited this grammar_question from being saved:</h2>

      <ul>
      <% @grammar_question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sequence_number %><br>
    <%= f.text_field :sequence_number %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :grammar_group_id %><br>
    <%= f.text_field :grammar_group_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
