<p id="notice"><%= notice %></p>

<p>
  <strong>Origin:</strong>
  <%= @user.origin %>
</p>

<p>
  <strong>Open:</strong>
  <%= @user.open_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Auth token:</strong>
  <%= @user.auth_token %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
