<h1>Listing question_histories</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Question</th>
      <th>Is correct</th>
      <th>Answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_histories.each do |question_history| %>
      <tr>
        <td><%= question_history.user %></td>
        <td><%= question_history.question %></td>
        <td><%= question_history.is_correct %></td>
        <td><%= question_history.answer %></td>
        <td><%= link_to 'Show', question_history %></td>
        <td><%= link_to 'Edit', edit_question_history_path(question_history) %></td>
        <td><%= link_to 'Destroy', question_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question history', new_question_history_path %>
